#myName {
	color: #fff;
	display: inline;
	padding-left: 10px;
}

#home_text {
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

#skills {
	margin-top: 50px;
	text-align: center;
}

#experience {
	margin-top: 50px;
	text-align: center;
}

#about {
	margin-top: 50px;
	text-align: center;
}

.titles {
	color: #b06bff;
}

